server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: order
    password: order

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  health:
    rabbit:
      enabled: false

logging:
  level:
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure: INFO